a{
  text-decoration: none;
  color: white;
}
body{
    padding: 0;
    margin: 0;
    background-image: url("./background.png");
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: local; 
    /* background-position: right; */
    -o-object-fit: cover;
       object-fit: cover;
     
   color: white;
   width: 100%;
  
  font-family: 'Jura';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
/* .background{
  position: absolute;
  z-index: -1;
} */
.info{
  position: absolute;
  right: 20%;
  left: 20%;
  top: 130px;
 /* padding-top: 20px; */
 padding-left: 40px;
 padding-right: 40px;
 /* padding-bottom: 30px; */
 border-radius: 10px;
 background: #4D2953;
text-align: center;
font-size: 20px;
}
.info-1{
  position: absolute;
  right: 20%;
  left: 20%;
  top: 180px;
 /* padding-top: 20px; */
 padding-left: 40px;
 padding-right: 40px;
 /* padding-bottom: 30px; */


text-align: center;
}
ul{
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.header__items{
  position: absolute;
display: -ms-grid;
display: grid;
-ms-grid-columns: 1fr 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr;
margin-top: 74px;

right: 25%;
left: 25%;
list-style-type: none;
color: #FFF;

font-size: 28px;

}
.header__item{
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
}
 .header{
    font-size: 24px;
font-style: normal;
font-weight: 500;

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: 1fr 4fr ;
    grid-template-columns: 1fr 4fr ;
 }
    .header__logo{
        margin-left: 44px;
        margin-top: 44px;
    }
    .header__logo-text{
      
        width: 180px;
        margin: 0;
        margin-left: 24px;
        text-align: center;
        padding: 0;
    } 
    
    .prozrach{
        position: absolute;
        z-index: -1;
        top:0;
        width: 100%;
        height: 1230px;
        /* height: 100%; */
        background: rgba(60, 59, 59, 0.20);
-webkit-backdrop-filter: blur(7.5px);
        backdrop-filter: blur(7.5px);}
.prozrach{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   z-index: -1;
    /* height: 100vh; */
    height: 3200px;
  
    background: rgba(60, 59, 59, 0.20);
-webkit-backdrop-filter: blur(7.5px);
        backdrop-filter: blur(7.5px);}

.price{
  width: 70%;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
  display: -ms-grid;
  display: grid;
  place-self: center;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  left:15%;
  right:15%;
  top: 430px;
  

 
  
}
.price-1,.price-2,.price-3,.price-4,.price-5,.price-6{
  display: -ms-grid;
  display: grid;
  
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
  margin: 50px;
 /* padding: 30px; */
 
}
.price-1-img,.price-2-img,.price-3-img,.price-4-img,.price-5-img,.price-6-img{
 /* width: 100%; */
 -ms-grid-row-align: center;
 -ms-grid-column-align: center;
 place-self: center;
 
 width: 90%;
 -ms-grid-column: 1;
 -ms-grid-column-span: 5;
 grid-column: 1/6;
 height: auto;
 -o-object-fit: contain;
    object-fit: contain;
 
}
span{  
  font-size: 36px;
  font-weight: 400;
  }
  .reserve{
    font-size: 20px;
    -ms-grid-row-align: center;
        align-self: center;

    /* place-self: center; */
    width: 80%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    color: #FFF;
    background-color: #5C3663;
    border: solid  #5C3663 1px;
    
    border-radius: 20px;
    height: 40px;
    font-family: 'Jura';
    padding-top: 12px;
    text-align: center;
    
  }
  .block-1{
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
    display: -ms-grid;
    display: grid;
    /* grid-column: 2fr 1fr; */
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: start;
        justify-self: start;
    
  }
  .reserve:hover {
    background-color:  #8d5297;
  }
  .text:hover {
    background-color:  #549752;
  }

  .form-popup {
    display: none;
    position: fixed;
   
    top:30%;
    right: 40%;
    /* border: 3px solid #f1f1f1; */
    z-index: 9;
    
  }
  
  .form-container {
    max-width: 400px;
    padding: 10px;
    background-color:  #8d5297;
    
  }
  
  .form-container input[type=text], .form-container input[type=password] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  .form-container .btn {
    background-color: #8ec24b;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-size: 15px;
    font-weight: bold;
  }
  

  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }
  img {
    
    -webkit-transition: 0.5s;
    
    -o-transition: 0.5s;
    
    transition: 0.5s; /* Время эффекта */
   }
   img:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2); /* Увеличиваем масштаб */}